#############################################
# Global ignores
#############################################
# OS-specific
.DS_Store
Thumbs.db

# Logs
.log
npm-debug.log
yarn-debug.log
yarn-error.log

#############################################
# .NET (C#, ASP.NET Core) ignores
#############################################
# Build results
bin
obj
out
Debug
Release

# Visual Studio files
.vs
.user
.suo
.userosscache
.sln.docstates

# NuGet packages
.nupkg
.snupkg
packages
!packagesbuild
.nuget.props
.nuget.targets

# Others
project.lock.json
project.fragment.lock.json
artifacts

#############################################
# Angular ignores
#############################################
# Node modules
node_modules

# Build output
dist
build
tmp
temp

# Angular specific cache
.angular
.angularcache

#############################################
# IDE  Editor ignores
#############################################
# Visual Studio Code
.vscode
!.vscodesettings.json
!.vscodetasks.json
!.vscodelaunch.json
!.vscodeextensions.json

# JetBrains Rider  IntelliJ
.idea

# Others
.swp
.swo
